.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  padding: 0 15px;
}

.Number-Animate {
visibility: visible;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.button {
  background: grey;
 
  width: 16px;
  height: 4vh;
  padding: 0px 0;
  right: 850px ; 
  
  
  
  position: absolute;
  

  
  
 
 
 
  
  transform: translateX(-50%) translateY(-50%);
  border-radius: 10px;  }


  .buttonTwo {
    background: #3498db;
  width: 50px;
  padding: 4px 0;
  right:780px;
  font-size: 8px;
 
  position: fixed;
  flex-direction: column;
  display: inline-flex;
 
  
  
 
  
  transform: translateX(-50%) translateY(-50%);
  border-radius: 20px;  }
.filler {
  background: #a00e0e;
  height: 100%;
  border-radius: inherit;
  transition: width.2 ease-in;
}
.progress-bar {
  position: fixed;
  left: 900px;
  transform: rotate(270deg);
  height: 40px;
  top: 140px;
  width: 300px;
  border-radius: 50px;
  border: 1px solid rgb(156, 138, 138);
}

.App-header {
  
  background-color: #282c34;
  left: 20px;
  height: 20px;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.To-do-list-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.To-do-list-input form input {
  margin: 0 20px;
}

.Dropdown-menu {
  height: 20px;
  position: absolute;
 left: 460px;
 top: 18px;
}

.task-list ul li {
  
  color: white;
  display: inline-flex;
 
  margin-top: 40px;
  flex-direction: column;
  bottom: 200px;
}
.task-list ul {
  top: -40px;
  flex-direction: column;
  
  padding: 0px;
  max-width: 300px;
  margin: auto;
  left: 500px;
  bottom: 200px;
  display: inline-flex;
}

.rotate:hover
{
        -webkit-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
}
.vidya{
  font-family: 'Press Start 2P', cursive;
color: pink;
width: 10px;
display: flex-end;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: relative;
  left: 500px;
  font-size: 30px;
  
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


.nes-progress {
  width: 100%;
  height: 48px;
  padding: 4px;
  margin: 4px;
  color: #212529;
  background-color: #fff;
  box-shadow: 4px 0, -4px 0, 0 4px, 0 -4px;
  -webkit-appearance: none;
  appearance: none;

  
  
}

.modal {
font-size: 15px
}
.titles{ 
  top: 15px;
  left:4px;
  position: absolute;
  color: pink;
  font-size: 18px
}

.levelup{
  position: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  color: goldenrod;
}

